{% load humanize custom_date %}
<div class="px-3 ui-no-radius uk-animation-slide-left-small" id="feed{{post.id}}">
<div class="flex items-center">
<div class="flex flex-1 space-x-4">
<a href="{% url 'accounts:profile' username=post.user.username %}" class="rounded-full"><img src="{{post.user.avatar.url}}" class="bg-gray-200 border border-white rounded-full w-12 h-12"></a>
<div class="block">
<div>
<span class="font-bold">{{post.user.name}} </span> • <span>{{post.created_at|custom_date}}</span>
</div>
<a href="{% url 'accounts:profile' username=post.user.username %}">@{{post.user.username}}</a>
</div>
</div>

<div class="mr-4" style="z-index: 1;" data-id="{{post.id}}" hx-get="{% url 'feed:feed-menu' pk=post.id %}" hx-target="#feed-menu-modal" hx-swap="outerHTML"><i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1"></i></div>

</div>


<div class="py-2 space-y-3" id="feed-text{{post.id}}">{{post.text|linebreaksbr|safe}}</div>

{% if post.images.all.count == 1 %}
<div class="feed-image" uk-lightbox>
{% for image in post.images.all %}
<a class="feed-image-item" href="{{image.image.url}}" style="background-image: url({{image.image.url}});display: block;" title="{{post.username}}'s post"></a>
{% endfor %}
</div>
{% elif post.images.all.count == 2 %}
<div class="feed-image" uk-lightbox>
<div class="feed-image-column">
{% for image in post.images.all %}
<a class="feed-image-item image-item" href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endfor %}
</div>
</div>
{% elif post.images.all.count == 3 %}
<div class="feed-masonry-grid" uk-lightbox>
{% for image in post.images.all %}
{% if forloop.counter == 1 %}
<div class="feed-masonry-column">
<a href="{{post.user.avatar.url}}" style="background-image: url({{post.user.avatar.url}});" title="{{post.username}}'s post"></a>
</div>
{% endif %}
{% endfor %}
<div class="feed-masonry-columns">
{% for image in post.images.all %}
{% if forloop.counter > 1 %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endif %}
{% endfor %}
</div>
</div>
{% elif post.images.all.count == 4 or post.images.all.count > 4 %}
<div class="feed-masonry-grid" uk-lightbox>
{% for image in post.images.all %}
{% if forloop.counter == 1 %}
<div class="feed-masonry-column">
<a href="{{post.user.avatar.url}}" style="background-image: url({{post.user.avatar.url}});" title="{{post.username}}'s post"></a>
</div>
{% endif %}
{% endfor %}
<div class="feed-masonry-columns">
{% for image in post.images.all %}
{% if forloop.counter > 3 %}
<a href="{{image.image.url}}" class="is-hidden"></a>
{% else %}
{% if forloop.counter == 3 %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post">
{% with total=post.images.all.count %}
{% if total > 3 %}
<span class="bg-gray-900 bg-opacity-30">
+{{total|add:-3}} more
</span>
{% endif %}
{% endwith %}
</a>
{% else %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endif %}
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}

<div class="py-3 space-y-3">
<div class="post-footer flex">
<div class="ui-feed-action post-control-button flex" id="actions{{post.id}}">
<a class="btn-control upvote-btn {% if request.user in post.likes.all %}is-liked heart-beat{% endif %}" hx-post="/feed/like/{{post.id}}" hx-vals='{"type": 1}' hx-target="#feed{{post.id}}" hx-swap="outerHTML" data-id="{{post.id}}">
<svg role="img" class="icon" viewBox="0 0 24 24"><path d="M12,21 L10.55,19.7051771 C5.4,15.1242507 2,12.1029973 2,8.39509537 C2,5.37384196 4.42,3 7.5,3 C9.24,3 10.91,3.79455041 12,5.05013624 C13.09,3.79455041 14.76,3 16.5,3 C19.58,3 22,5.37384196 22,8.39509537 C22,12.1029973 18.6,15.1242507 13.45,19.7149864 L12,21 Z"></path>
</svg>
</a>
<a class="btn-control">
<svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
</a>
<a class="btn-control">
<svg class="icon icon-share stroke-current" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 14V6"></path><path d="M9 8L12 5L15 8"></path><path d="M5 13V18H19V13"></path></svg>
</a>
</div>

<div class="social-count" style="justify-content: space-evenly;">
{% if post.likes.all.count >= 1 %}
<div class="likes-count">
<svg class="icon w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
<span>{{post.likes.count|intword}}</span>
</div>
{% endif %}
{% if post.comments.all.count >= 1 %}
<div class="comments-count">
<svg class="icon w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
<span>{{post.comments.count|intword}} </span>
</div>
{% endif %}
{% if post.likes.all.count >= 1 %}
<div class="shares-count">
<svg class="icon w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>
<span>{{post.likes.count|intword}} </span>
</div>
{% endif %}
</div>
<hr>
</div>

</div>
</div>