{% load custom_date humanize static %}
{% for post in posts %}
<div class="ui-feed {% if post.comments.all %}has-comment{% endif %}" id="feed{{post.id}}">
<div class="ui-feed-thumb">
<div class="ui-feed-thumb-inner">
<a href="{% url 'accounts:profile' username=post.user.username %}" class="rounded-full">
<img src="{{post.user.avatar.url}}" class="bg-gray-200 rounded-full w-12 h-12">
</a>
{% include 'feed/partials/action_buttons.html' %}
</div>
<div class="ui-thread-line"></div>
</div>

<div class="ui-feed-contents ui-block">
<div class="ui-feed-author">
<div class="ui-feed-name">{{post.user.name}} ~ <a href="{% url 'accounts:profile' username=post.user.username %}" class="ui-at ui-feed-uname">@{{post.username}}</a>
<div class="ui-feed-time">{{post.created_at|custom_date}}</div>
</div>

<div class="ui-feed-btn hover:bg-gray-200 transition" style="z-index: 1;" data-id="{{post.id}}" hx-get="{% url 'feed:menu' pk=post.id %}" hx-target="#feed-menu-modal" hx-swap="outerHTML">
<svg role="img" class="icon icon--20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<circle cx="12" cy="12" r="1"></circle>
<circle cx="6" cy="12" r="1"></circle>
<circle cx="18" cy="12" r="1"></circle>
</svg>
</div>
</div>
<div class="ui-feed-text" id="feed-text{{post.id}}">{{post.text|linebreaksbr|safe}}</div>
{% if post.images.all.count == 1 %}
<div class="feed-image" uk-lightbox>
{% for image in post.images.all %}
<a class="feed-image-item" href="{{image.image.url}}" style="background-image: url({{image.image.url}});display: block;" title="{{post.username}}'s post"></a>
{% endfor %}
</div>
{% elif post.images.all.count == 2 %}
<div class="feed-image" uk-lightbox>
<div class="feed-image-column">
{% for image in post.images.all %}
<a class="feed-image-item image-item" href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endfor %}
</div>
</div>
{% elif post.images.all.count == 3 %}
<div class="feed-masonry-grid" uk-lightbox>
{% for image in post.images.all %}
{% if forloop.counter == 1 %}
<div class="feed-masonry-column">
<a href="{{post.user.avatar.url}}" style="background-image: url({{post.user.avatar.url}});" title="{{post.username}}'s post"></a>
</div>
{% endif %}
{% endfor %}
<div class="feed-masonry-columns">
{% for image in post.images.all %}
{% if forloop.counter > 1 %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endif %}
{% endfor %}
</div>
</div>
{% elif post.images.all.count == 4 or post.images.all.count > 4 %}
<div class="feed-masonry-grid" uk-lightbox>
{% for image in post.images.all %}
{% if forloop.counter == 1 %}
<div class="feed-masonry-column">
<a href="{{post.user.avatar.url}}" style="background-image: url({{post.user.avatar.url}});" title="{{post.username}}'s post"></a>
</div>
{% endif %}
{% endfor %}
<div class="feed-masonry-columns">
{% for image in post.images.all %}
{% if forloop.counter > 3 %}
<a href="{{image.image.url}}" class="is-hidden"></a>
{% else %}
{% if forloop.counter == 3 %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post">
{% with total=post.images.all.count %}
{% if total > 3 %}
<span class="bg-gray-900 bg-opacity-30">
+{{total|add:-3}} more
</span>
{% endif %}
{% endwith %}
</a>
{% else %}
<a href="{{image.image.url}}" style="background-image: url({{image.image.url}});" title="{{post.username}}'s post"></a>
{% endif %}
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}

{% if post.feed_poll.all %}
<div class="ui-poll-wrapper" data-feed="{{ post.id }}">
{% with poll=post.feed_poll.all %}
{% for p in poll %}
<a class="uk-button uk-button-default" data-id="{{ p.id }}" data-choice="1">{{ p.choice_1 }}</a>
<a class="uk-button uk-button-default" data-id="{{ p.id }}" data-choice="2">{{ p.choice_2 }}</a>
{% if p.choice_3 %}
<a class="uk-button uk-button-default" data-id="{{ p.id }}" data-choice="3">{{ p.choice_3 }}</a>
{% endif %}
{% if p.choice_4 %}
<a class="uk-button uk-button-default" data-id="{{ p.id }}" data-choice="4">{{ p.choice_4 }}</a>
{% endif %}
<p class="ui-poll-stats"> {{ p.votes }} votes </p>

<div class="ui-poll-result">
<div class="ui-result-wrapper">
<div class="uk-button uk-button-default selected"><span class="text">{{ p.choice_1 }}</span> <span class="bg" style="width: 80%;"></span></div> <span> 80% </span>
</div>
<div class="ui-result-wrapper">
<div class="uk-button uk-button-default"><span class="text">{{ p.choice_2 }}</span> <span class="bg" style="width: 20%;"></span></div> <span> 20% </span>
</div>

</div>

{% endfor %}
{% endwith %}
</div>
{% endif %}

<div class="ui-feed-footer pt-2 space-y-3"> 
<div class="ui-feed-footer-inner">
<div class="social-count">
<div class="comments-count">
<svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
{% if post.comments.all.count >= 1 %}
<span>{{post.comments.count|intword}}</span>
{% endif %}
</div>

<div class="shares-count">
<svg role="img" class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<desc id="swapVerticalIconDesc"></desc>
<path d="M4 8L7 5L10 8"></path>
<path d="M7 20L7 6"></path>
<path d="M20 17L17 20L14 17"></path>
<path d="M17 5L17 19"></path>
</svg>
{% if post.likes.all.count >= 1 %}
<span>{{post.likes.count|intword}}</span>
{% endif %}
</div>

<div class="likes-count">
<svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
{% if post.likes.all.count >= 1 %}
<span>{{post.likes.count|intword}}</span>
{% endif %}
</div>

<div class="likes-count">
<svg role="img" xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" aria-labelledby="shareAndroidIconTitle">
<title id="shareAndroidIconTitle">Share</title>
<path d="M16 8L8 11 16 8zM16 16L8 13 16 16z"></path>
<circle cx="6" cy="12" r="2"></circle>
<circle cx="18" cy="7" r="2"></circle>
<circle cx="18" cy="17" r="2"></circle>
</svg>
</div>

</div>
</div>
</div>
</div>
</div>

{% if post.comments.all %}
{% for comment in follow_comment %}
<div class="ui-comment-list w-full" id="comment{{post.id}}">
<div class="ui-comment-thumb">
<a href="{% url 'accounts:profile' username=comment.user.username %}" class="rounded-full">
<img src="{{comment.user.avatar.url}}" class="bg-gray-200 rounded-full w-12 h-12" alt="{{comment.user.username}}'s picture">
</a>
</div>

<div class="ui-comment-container flex relative w-full">
<div class="ui-comment h-full relative lg:ml-5">
<div class="ui-comment-user"><span class="font-bold">{{comment.user.name}}</span>  ~ <a href="{% url 'accounts:profile' username=comment.user.username %}" class="ui-at">@{{comment.user.username}}</a>
</div>
<p>Replying to <a href="{% url 'accounts:profile' username=post.user.username %}" class="ui-at">@{{post.user.username}}</a></p>
<div class="ui-comment-text">{{comment.text|linebreaksbr|safe}}</div>
{% if comment.comment_image.all %}
<div class="ui-comment-image pt-2">
<div class="feed-image" uk-lightbox>
{% for image in comment.comment_image.all %}
<a class="feed-image-item" href="{{image.image.url}}">
<img src="{{image.image.url}}" alt="{{comment.user.username}}'s comment">
{% with total=comment.comment_image.all.count %}
{% if total > 1 %}
<span class="bg-gray-900 bg-opacity-30">
+{{total|add:-1}} more
</span>
{% endif %}
{% endwith %}
</a>
{% endfor %}
</div>
</div>
{% endif %}
<div class="ui-comment-buttons">
<div class="ui-comment-time"> • {{comment.created_at|custom_date}}</div>
<button class="ui-comment-button ui-like-button">
<svg class="icon icon--16" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
</button>
<button class="ui-comment-button">
<svg class="icon icon--16" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
</button>
</div>
</div>
<div class="ui-comment-menu">
<div class="modal-trigger" data-modal="feed-menu-modal" data-id="{{post.id}}"><i class="icon-feather-chevron-down font-medium hover:bg-gray-200 rounded-full p-2 transition"></i>
</div>
<div class="ui-comment-stats">
<div class="ui-stats"><svg class="icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 
<span>1.5K</span></div>
<div class="ui-stats"><svg class="icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg> <span>50</span></div>
<div class="ui-stats">
<svg class="icon stroke-current" width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 14V6"></path><path d="M9 8L12 5L15 8"></path><path d="M5 13V18H19V13"></path></svg>
<span>5</span></div>
</div>
</div>
</div>

</div>
{% endfor %}
{% endif %}

{% empty %}
<div class="p-4">
<h3 class="text-xl font-bold">You're all caught up</h3>
<div class="mt-2"><p> Your feeds and feeds from people you follow will show up here. </p></div>
</div>
{% endfor %}

<div class="ui-modal-container is-hidden" id="update-modal">
<div class="ui-modal">
<div class="ui-modal-content">
<div class="ui-modal-title">Edit feed
<div class="ui-modal-desc">Max. character limit is 500</div>
</div>
<div class="ui-field">
<textarea rows="6" maxlength="500" name="content" class="message-form" required></textarea>
<div class="button-field">
<button id="submit" class="b-radius button w-full"> Submit </button>
<button class="ui-modal-close b-radius button w-full"> Cancel </button>
</div>
</div>
</div>
</div>
</div>

<div class="is-hidden has-text-centered md:my-4" id="more_button">
<a class="load-more-button" id="load-more">Load More</a>
</div>

{% include './modals/view/menu.html' %}