<div class="ui-feed-header">
<a href="{% url 'feed:home' %}" class="ui-feed-header-button hover:bg-gray-200 rounded-full p-2 transition -mr-1">
<svg class="icon icon--20" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 6l-6 6 6 6"></path><path d="M21 12H4"></path><path stroke-linecap="round" d="M3 12h1"></path></svg>
</a>
<div class="ui-feed-header-title">Feed</div>
<div class="modal-trigger ui-feed-header-menu" data-modal="feed-menu-modal" data-id="{{post.id}}"><i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1"></i></div>
</div>